
.remove{
    color: red;
    font-size: 20px;
    cursor: pointer;
}


.opt{
    color: rgb(61, 31, 173);
    font-size: 30px;
    cursor: pointer;

}

#dd{
    width: 150px;
    height: 100px;
    overflow-y: auto;
    border: 1px solid black;
    margin: 100px;
    padding: 5px;
}